<form class="row" id="" id="connSearch">
		<div class="form-group col-lg-10 col-lg-push-1">
			<div class="input-group">
				<input type="text" id="connSearchField" class="form-control" >
              <span class="input-group-btn">
                <button class="btn" type="submit"><span class="fui-search"></span></button>
              </span>
			</div><!-- /input-group -->
		</div><!-- /.form-group -->
</form>
<div class="row panel hidden" id="search-result">
	<!-- Table -->
	<table class="table">
		<thead>
			<tr>
				<th>User</th>
				<th>&nbsp;</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody id="search-result-body">
		</tbody>
	</table>
</div>
<? if(count($this->connections)==0): ?>
<div class="alert alert-warning" role="alert">You have no connections! Search for people and add them.</div>
<? else: ?>
<div class="row panel panel-default" id="connections">
	<!-- Table -->
	<table class="table ">
		<thead>
		<h5>
			Currently Active
		</h5>
		</thead>
		<tbody id="connections-body">
		  <? foreach ($this->connections as $con): ?>
		      <? if($con->getId() != $this->identity()->getId()):?>
				  <tr>
					<td><?=$con->getFullName(); ?></td>
					<td></td>
					<td><a href='#' class='disconnect'><span class='fi-unlink'></span></a>&nbsp;|&nbsp;<a href='#' class='user-view'><span class='fi-eye'></span></a></td></td>
				  </tr>
		      <? endif; ?>
		  <? endforeach; ?>
		</tbody>
	</table>
</div>
<? endif; ?>