
/*
- BASE
- TYPOGRAPHY
- NAVIGATION
    -- SUB-MENUS
- LAYOUTS
    -- DASHBOARD
        --- PROFILE
*/


/* ============= @BASE ============= */
body {
    padding-top: 110px;
}

/* ============= @TYPOGRAPHY ============= */

.inverse {
    background-color: #34495e;
    padding: 0 15px;
    border-radius: 4px;
}

.text-muted {
    color: #bdc3c7;
}
.text-inverse {
    color: #ffffff;
}

.text-primary {
    color: #1abc9c;
}
a.text-primary:hover {
    color: #148f77;
}

.text-warning {
    color: #f1c40f;
}
a.text-warning:hover {
    color: #c29d0b;
}

.text-danger {
    color: #e74c3c;
}
a.text-danger:hover {
    color: #d62c1a;
}

.link-success-green,
.text-success {
    color: #2ecc71 !important;
}

a.link-success-green:hover,
a.text-success:hover {
    color: #119146 !important;
}

.text-info {
    color: #3498db;
}
a.text-info:hover {
    color: #217dbb;
}

/* ============= @NAVIGATION ============= */

/* .SUB-MENUS ------------- */
.aside-sub-menu {
    color: #798795;
    margin-bottom: 20px;
    border-radius: 6px;
}
.aside-sub-menu ul {
    background-color: #2c3e50;
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: 6px;
}
.aside-sub-menu li {
    background: #34495e;
    background-size: 20px 20px;
    cursor: pointer;
    font-size: 14px;
    line-height: 1.214;
    margin-top: 2px;
    padding: 18px 42px 21px 25px;
    position: relative;
    -webkit-transition: .25s;
    transition: .25s;
}
.aside-sub-menu li:first-child {
    margin-top: 0;
}
.aside-sub-menu li:last-child {
    border-radius: 0 0 6px 6px;
    padding-bottom: 21px;
}
.aside-sub-menu li.aside-sub-menu-done {
    background: transparent;
    color: #1abc9c;
}
.aside-sub-menu li.aside-sub-menu-done .aside-sub-menu-name {
    color: #1abc9c;
}
.aside-sub-menu li:after {
    content: " ";
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    right: 22px;
    margin-top: -10px;
    background: #ffffff;
    border-radius: 50%;
}
.aside-sub-menu li.aside-sub-menu-done:after {
    content: "\e60a";
    font-family: 'Flat-UI-Icons';
    text-align: center;
    font-size: 12px;
    line-height: 21px;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #1abc9c;
    color: #2c3e50;
}
.aside-sub-menu-search {
    position: relative;
    background: #1abc9c;
    background-size: 16px 16px;
    border-radius: 6px 6px 0 0;
    color: #34495e;
    padding: 19px 25px 20px;
}
.aside-sub-menu-search:before {
    position: absolute;
    font-family: 'Flat-UI-Icons';
    content: "\e630";
    font-size: 16px;
    line-height: 17px;
    display: inline-block;
    top: 50%;
    left: 92%;
    margin: -0.5em 0 0 -1em;
}
.aside-sub-menu-search-field {
    background: none;
    border: none;
    color: #34495e;
    font-size: 19px;
    font-weight: 700;
    margin: 0;
    line-height: 23px;
    padding: 5px 0;
    text-indent: 0;
    box-shadow: none;
    outline: none;
}
.aside-sub-menu-search-field::-moz-placeholder {
    color: #34495e;
    opacity: 1;
}
.aside-sub-menu-search-field:-ms-input-placeholder {
    color: #34495e;
}
.aside-sub-menu-search-field::-webkit-input-placeholder {
    color: #34495e;
}
.aside-sub-menu-icon {
    float: left;
    font-size: 24px;
    padding: 11px 22px 0 0;
}
.aside-sub-menu-content {
    padding-top: 1px;
    overflow: hidden;
}
.aside-sub-menu-name {
    color: #ffffff;
    font-size: 17px;
    margin: 1px 0 3px;
}


.sidebar-nav {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 220px;
}
.sidebar-nav li {
    display: inline-block;
    line-height: 20px;
    position: relative;
    width: 100%;
}
.sidebar-nav li:before {
    background-color: #1c1c1c;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 3px;
    z-index: -1;
}
.sidebar-nav li:first-child a {
    background-color: #1a1a1a;
    color: #ffffff;
}
.sidebar-nav li:nth-child(2):before {
    background-color: #402d5c;
}
.sidebar-nav li:nth-child(3):before {
    background-color: #4c366d;
}
.sidebar-nav li:nth-child(4):before {
    background-color: #583e7e;
}
.sidebar-nav li:nth-child(5):before {
    background-color: #64468f;
}
.sidebar-nav li:nth-child(6):before {
    background-color: #704fa0;
}
.sidebar-nav li:nth-child(7):before {
    background-color: #7c5aae;
}
.sidebar-nav li:nth-child(8):before {
    background-color: #8a6cb6;
}
.sidebar-nav li:nth-child(9):before {
    background-color: #987dbf;
}
.sidebar-nav li:hover:before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav li a {
    color: #dddddd;
    display: block;
    padding: 10px 15px 10px 30px;
    text-decoration: none;
}
.sidebar-nav li.open:hover before {
    -webkit-transition: width 0.2s ease-in;
    transition: width 0.2s ease-in;
    width: 100%;
}
.sidebar-nav .dropdown-menu {
    background-color: #222222;
    border-radius: 0;
    border: none;
    box-shadow: none;
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
}
.sidebar-nav li a:hover,
.sidebar-nav li a:active,
.sidebar-nav li a:focus,
.sidebar-nav li.open a:hover,
.sidebar-nav li.open a:active,
.sidebar-nav li.open a:focus {
    background-color: transparent;
    color: #ffffff;
    text-decoration: none;
}
.sidebar-nav > .sidebar-brand {
    font-size: 20px;
    height: 65px;
    line-height: 44px;
}


/* ============= @LAYOUTS ============= */

/* .DASHBOARD ------------- */

/** @PROFILE **/

input.hidden {
    position: absolute;
    left: -9999px;
}
#profile-image1 {
    cursor: pointer;

    width: 100px;
    height: 100px;
    border:2px solid #03b1ce ;}
.tital{ font-size:16px; font-weight:500;}
.bot-border{ border-bottom:1px #f8f8f8 solid;  margin:5px 0  5px 0}