<?= $this->doctype(); ?>
<? /** Layout Variables */
$MS_VND_ICON = [
    'rel' => 'shortcut icon',
    'type' => 'image/vnd.microsoft.icon',
    'href' => $this->basePath() . '/img/favicon.ico'
];
?>

<html lang="en">
<head>
    <meta charset="utf-8">
    <?= $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge');
    ?>
    <?= $this->headTitle('LPAX')
        ->setSeparator('::')
        ->setAutoEscape(false);
    ?>
    <!-- SHEETOS DEL STYLOS -->
    <?= $this->headLink($MS_VND_ICON)
        ->prependStylesheet($this->basePath('css/site.main.css'))
        ->prependStylesheet($this->basePath('css/flat-ui.min.css'))
        ->prependStylesheet($this->basePath('css/vendor/bootstrap/css/bootstrap.min.css'));
    ?>
    <!-- SCRIPTOS -->
    <?= $this->headScript()
        ->prependFile($this->basePath('js/flat-ui.js'))
        ->prependFile($this->basePath('js/vendor/jquery.min.js'));
    ?>
</head>
<body>
<nav id="LPAX_nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand" href="#"><?= $_SERVER['SERVER_NAME']; ?></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
            <!-- BEGIN: CONDITIONAL RIGHT NAV -->
            <? if ($user = $this->identity()): ?>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a style="color:black;" href="/user/dashboard">
                        <strong><?= $user['userName']; ?></strong>
                    </a>
                </li>

            </ul>
            <? else: ?>
            <ul class="nav navbar-right navbar-nav">
                <li>
                    <a class="text-info" href="/user/login">
                        Sign On&nbsp;<span class="fui-power"></span>&nbsp;
                    </a>
                </li>
                <li><a href="#" style="padding:auto 10px;" onclick="javascript:void();">|</a></li>
                <li>
                    <a class="link-success-green text-success" href="/user/register">
                        Register&nbsp;<span class="fui-user"></span>
                    </a>
                </li>
            </ul>
            <? endif; ?>

        </div><!--/.nav-collapse -->
    </div>
</nav>
<div class="container">
    <?=$this->content;?>
</div>

<script src="/js/dash.js"></script>
</body>
</html>
