

    <ul>
        <li class="aside-sub-menu-done">
            <div class="aside-sub-menu-icon fui-user"></div>
            <div class="aside-sub-menu-content">
                <h4 class="aside-sub-menu-name">
                    Meet <strong>Adrian</strong> at <strong>6pm</strong>
                </h4>
                Times Square
            </div>
        </li>
        <li>
            <div class="aside-sub-menu-icon fui-list"></div>
            <div class="aside-sub-menu-content">
                <h4 class="aside-sub-menu-name">
                    Chat with <strong>V.Kudinov</strong>
                </h4>
                Skype conference an 9 am
            </div>
        </li>
        <li>
            <div class="aside-sub-menu-icon fui-eye"></div>
            <div class="aside-sub-menu-content">
                <h4 class="aside-sub-menu-name">
                    Watch <strong>Iron Man</strong>
                </h4>
                1998 Broadway
            </div>
        </li>
        <li>
            <div class="aside-sub-menu-icon fui-time"></div>
            <div class="aside-sub-menu-content">
                <h4 class="aside-sub-menu-name">
                    Fix bug on a <strong>Website</strong>
                </h4>
                As soon as possible
            </div>
        </li>
    </ul>
</div>