
    <div class="row">
    <form class="form" id="createPostForm">
        <div class="form-group has-feedback">
                <textarea name="body" placeholder="Type what you want to say..." class="form-control">
                </textarea><span class="form-control-feedback fui-check"></span>
        </div>
    </form>
    </div>
        <? /** @type \User\Document\Post $post */ ?>
        <? foreach($this->posts as $post):?>
        <div class="row well-lg inverse text-inverse">
            <div class="row">
                <div class="col-md-8 text-success">
                    <i class="fui-arrow-right"></i>
                    <strong><?=$post->getAuthor()->getFullName();?></strong>
                </div>
                <div class="col-md-4 text-success">
                    <i class="fui-calendar">&nbsp;</i>
                    <small><?=$post->getCreated();?></small>
                </div>
            </div>
            <div class="row">
                <div class="col-md-11">
                    <p class="text-justify lead"><?=$post->getBody();?></p>
                </div>
            </div>
        </div>
        <?endforeach; ?>
