<div role="tabpanel">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs nav-justified" role="tablist">
		<li role="presentation" class="active">
			<a href="#posts" aria-controls="posts" role="tab" data-toggle="tab">Your Posts</a>
		</li>
		<li role="presentation">
			<a href="#createPost" aria-controls="createPost" role="tab" data-toggle="tab">New</a>
		</li>
		<li role="presentation">
			<a href="#postSettings" aria-controls="postSettings" role="tab" data-toggle="tab">Settings</a>
		</li>
	</ul>
	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="posts">
			<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
			   <? if(count($this->posts) == 0): ?>
			       <div class="alert alert-info" role="alert">
					<h5>You haven't posted anything yet.</h5>
					<p>Click the 'New' tab to create your first post!</p>
				</div>
			   <? else:?>
    	           <? foreach ($this->posts as $post): ?>
    	           <div class="panel panel-default">
					<div class="panel-heading" role="tab" id="headingOne">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                  <?= $post->getTitle(); ?>
        				    </a>
							<small class="right">
    						      <?= $post->getCreated(); ?>
    						</small>
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse out" role="tabpanel" aria-labelledby="headingOne">
						<div class="panel-body">
							<p class="lead"><?= $post->getBody(); ?></p>
						</div>
					</div>
				</div>
    	           <? endforeach; ?>
	           <? endif; ?>
	       </div>
		</div>
		<div role="tabpanel" class="tab-pane" id="createPost">
			<div class="row"><?= $this->sxbForm($this->form); ?></div>
		</div>
		<div role="tabpanel" class="tab-pane" id="postSettings"></div>
	</div>
</div>