<?
/**
 * @var $user User\Document\User
 */
$profile = $this->identity();
?>

<div class="panel panel-default">
    <div class="panel-heading"><h4>User Profile</h4></div>
    <div class="panel-body">

        <div class="box box-info">

            <div class="box-body">
                <div class="col-sm-6">
                    <div align="center"><img alt="User Pic"
                                             src="https://x1.xingassets.com/assets/frontend_minified/img/users/nobody_m.original.jpg"
                                             id="profile-image1" class="img-circle img-responsive">

                        <input id="profile-image-upload" class="hidden" type="file">
                        <div style="color:#999;">click here to change profile image</div>
                        <!--Upload Image Js And Css-->

                    </div>
                    <br>
                    <!-- /input-group -->
                </div>
                <div class="col-sm-6">
                    <h4 style="color:#00b1b1;">
                        <?=$profile->getFullName();?>
                    </h4>
                    <span><i><?=$profile['occupation'][0]['officialTitle'];?></i></span>
                </div>
                <div class="clearfix"></div>
                <hr style="margin:5px 0 5px 0;">
                <div class="col-sm-5 col-xs-6 tital ">Name:</div>
                <div class="col-sm-7 col-xs-6 "><?=$profile->getFullName();?></div>
                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital ">Date Of Joining:</div>
                <div class="col-sm-7"><?=$profile['created'];?></div>

                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital ">Date Of Birth:</div>
                <div class="col-sm-7">11 Jun 1998</div>

                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <div class="col-sm-5 col-xs-6 tital ">Location:</div>
                <div class="col-sm-7"><?=$profile['address']->getCity() . ", ".$profile['address']->getState();?></div>

                <div class="clearfix"></div>
                <div class="bot-border"></div>

                <!-- /.box-body -->
            </div>
            <!-- /.box -->

        </div>


    </div>
</div>