<section class="container">
    <div class="row">
        <menu id="dash-sidebar" class="col-lg-3">
            <?= $this->sidebar; ?>
        </menu>

        <? if (!$this->aside): ?>
            <!--Main display area-->
            <section id="main-content-area" class="col-lg-7">
                <?= $this->data; ?>
            </section>
        <? else: ?>
            <!--Main display area-->
            <section id="main-content-area" class="col-lg-5 col-lg-offset-1">
                <?= $this->data; ?>
            </section>
            <div class="col-lg-3 aside-sub-menu">
                <?= $this->aside; ?>
            </div>
        <? endif; ?>
    </div>
</section>